@CHARSET "UTF-8"

/*
 * Reset
 */


* {
	margin: 0;
	padding: 0;
}

/*
 * Global
 */

html, body{
	width: 100%;
	height: 100%;
}

body {
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
	max-width: 100%;
	min-width: 1000px;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.8;
	word-break: break-all;
	background-color: rgb(255, 240, 200);
}
body.touch {
	width: 100%;
	height: 100%;
	min-width: initial;
	max-width: initial;
	-ms-touch-action: none;
	touch-action: none;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	border: none;
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

a:hover {
	color: rgb(30, 30, 30);
}

ul {
	padding: 0 0 0 25px;
}

dd {
	margin:  0 0 0 20px;
}

img {
	max-width: 100%;
	box-sizing: border-box;
}


/*
 * Parts
 */

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.number {
	font-family: "OpenSans", OpenSans, "Arial", Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}
.text.bold {
	font-weight: bold;
}

.text.italic {
	font-style: italic;
}

.text.underline {
	text-decoration: underline;
}

.text.text-big {
	font-size: 2em;
}

.text.red {
	color: rgb(200, 0, 0);
}
.inline {
	display: inline-block;
}
.disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
.hidden {
	display: none;
}

.guidebook {
	width: 120px;
	height: 25px;
	background-color: rgb(30, 100, 0);
	border: 2px solid rgb(130, 200, 20);
	box-sizing: border-box;
	font-size: 0.9em;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.guidebook:after {
	content: '';
	clear: both;
}

.guidebook.guidebook-header {
	width: 80px;
	height: 21px;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	box-sizing: border-box;
	letter-spacing: -0.1em;
	border: none;
	border-radius: initial;
	display: block;
	float: left;
}

.guidebook.guidebook-page {
	width: 36px;
	height: 21px;
	border: none;
	border-radius: initial;
	float: right;
	display: block;
	background-color: rgb(255, 255, 255);
}

hr {
	border: none;
	border-top: solid 1px rgb(0, 0, 0);
}

header {
	width: 100%;
	height: 150px;
	
	background-color: rgb(255, 255, 255);
		
	position: relative;
	top: 0;
	left: 0;
	display: table;
	z-index: 10;
}

header .container.wrap {
	display: table-cell;
}

header .container.wrap > * {
	vertical-align: middle;
}

header a.title {
	height: 150px;
	display: inline-block;
}

header a.title h1 {
	height: 100%;
	margin: 0 0 0 -150px;
	overflow: hidden;
	padding-left: 180px;
	box-sizing: border-box;
	font-size: 30px;
	line-height: 150px;
	display: inline-block;
}

header a.title h1 span.theme:before {
	content: '';
	vertical-align: middle;
	height: 30px;
	margin: 0 0.7ch 0 0.2ch;
	border-left: dotted 1px rgb(200, 200, 200);
	display: inline-block;
}

header a.title h1 span.theme {
	vertical-align: middle;
	color: rgb(251, 113, 142);
	background-color: rgb(255, 255, 255);
	font-size: 23px;
	position: relative;
	z-index: 2;
	display: inline-block;
}

header .logo {
	position: absolute;
	top: -30px;
}

.logo {
	width: 500px;
	height: 500px;
	background-image: url('./images/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
	-webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
}

.logo.inline {
	display: inline-block;
}

.logo.dynamic {
	background-image: url('./images/logo-text.png');
	background-repeat: no-repeat;
}
.logo.dynamic:after {
	content: ' ';
	width: 500px;
	height: 500px;
	display: block;
	background-image: url('./images/logo-arrow.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-animation: rotate 40s infinite linear;
	-moz-animation: rotate 40s infinite linear;
	-ms-animation: rotate 40s infinite linear;
	animation: rotate 40s infinite linear;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	filter: none;
}

.logo.logo-200px {
	width: 200px;
	height: 200px;
	background-size: 200px;
	background-image: url('./images/logo_400px.png');
}

.logo.logo-150px {
	width: 150px;
	height: 150px;
	background-size: 150px;
	background-image: url('./images/logo_400px.png');
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	0% { -moz-transform: rotate(0deg);}
	100% { -moz-transform: rotate(360deg);}

}

@-ms-keyframes rotate {
	0% { -ms-transform: rotate(0deg);}
	100% { -ms-transform: rotate(360deg);}

}

@keyframes rotate {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}

}

header nav {
	margin-left: 120px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	
	display: inline-block;
}

header nav ul {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	display: block;
}

header nav ul > li {
	box-sizing: border-box;
	width: auto;
	height: 50px;
	text-align: center;
	float: left;
	display: block;
	cursor: pointer;
}

header nav ul > li a {
	padding: 0 10px;
	height: 100%;
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
}

header nav ul > li a:hover {
	text-decoration: none;
}

header nav ul > li a.here span,
header nav ul > li a:hover span {
	border-bottom: solid 2px rgb(0, 0, 0);
	padding-bottom: 6px;
}

header nav ul:after {
	content: '';
	clear: both;
	display: block;
}

footer {
	width: 100%;
	height: 350px !important;
	border-top: solid 3px rgb(230, 108, 0);
}

footer hr {
	border-color: rgb(230, 108, 0);
}

footer .container.wrap {
	padding: 50px 30px 30px 340px;
	box-sizing: border-box;
	background-image: url('./images/witch.png');
	background-position: 25px 50px;
	background-size: auto 250px;
	background-repeat: no-repeat;
}

footer .container.wrap.color {
	background-image: url('./images/witch_color.png');
}

footer .container.container-full {
	position: relative;
	top: 40px;
}

footer .container.container-full img {
	width: 400px;
	margin-bottom: 5px;
}

ul.inline > * {
	list-style-type: none;
	display: inline-block;
	margin: 0 1em;
}

ul.inline li {
	height: 2.5em;
}

fieldset {
	border: none;
}

label {
	height: 100%;
	min-width: 120px;
	display: inline-block;
}

.jumbotron {
	position: relative;
	top: 0;
	left: 0;
	
	height: 450px;
}

.jumbotron.enable-vh {
	height: 50%;
	height: 55vh;
	min-height: 350px;
}

.jumbotron .description {
	position: absolute;
	right: 0;
	bottom: 30px;
	text-align: right;
	display: inline-block;
}

.jumbotron .description > * {
	line-height: 0.5em;
}

.background {
	position: relative;
	top: 0;
	bottom: 0;
	
	background-repeat: no-repeat;
}

.background.background-white {
	background-color: rgb(255, 255, 255);
}
.background.background-blue {
	background: rgb(0, 0, 100);
}

.background.cover {
	background-size: cover;
}

.background.factory {
	background-position: center 27%;
	background-image: url('./images/factory.png');
}

.background.background-logo:before {
	content: '';
	position: absolute;
	top: -185px;
	left: 70px;
	width: 500px;
	height: 500px;
	
	background: url('./images/logo.png') 0 0 no-repeat;
	background-size: 500px 500px;	
	opacity: 0.9;
	z-index: 1;
}

.background.background-logo.dynamic:before {
	background-image: url('./images/logo-arrow.png');
	
	-webkit-animation: rotate 40s infinite linear;
	-moz-animation: rotate 40s infinite linear;
	-ms-animation: rotate 40s infinite linear;
	animation: rotate 40s infinite linear;
	-webkit-transform-origin: 250px 250px;
	-moz-transform-origin: 250px 250px;
	-ms-transform-origin: 250px 250px;
	transform-origin: 250px 250px;
}

.background.background-logo:after {
	content: '';
	position: absolute;
	top: 0;
	left: -30px;
	width: 320px;
	height: 150px;
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 85%, rgba(255,255,255,1) 95%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 85%,rgba(255,255,255,1) 95%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 85%,rgba(255,255,255,1) 95%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 85%,rgba(255,255,255,1) 95%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 85%,rgba(255,255,255,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	
	z-index: 1;
}

.gradient {
	width: 100%;
	height: 100%;
}

.gradient.bright {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.4)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33ffffff',GradientType=0 );
}

.gradient.shadow {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
}

.pane {
	padding: 2em 0;
	background-color: rgb(255, 255, 255);
}

.container {
	position: relative;
	top: 0;
	left: 0;
	
	box-sizing: border-box;
	
	width: 960px;
	margin: 0 auto;
}

.container.container-full {
	width: 100%;
}

.container.wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

.container .container-split:after {
	content: '';
	clear: both;
	display: block;
}

.container .container-left {
	width: 710px;
	height: auto;
	padding-right: 15px;
	border-right: solid 1px rgb(0, 0, 0);
	box-sizing: border-box;
	float: left;
}

.container .container-left:after {
	content: '';
	clear: both;
}

.container .container-right {
	width: 251px;
	margin-left: -1px;
	padding-left: 15px;
	border-left: solid 1px rgb(0, 0, 0);
	height: 100%;
	box-sizing: border-box;
	float: right;
}

.container .container-split.twice .container-left {
	padding-right: 1%;
}

.container .container-split.twice .container-right {
	padding-left: 1%;
}

.container .container-split.twice .container-left,
.container .container-split.twice .container-right {
	width: 50%;
}

.container .container-split.twice .container-right {
	width: calc(50% + 1px);
}

.container section,
.container article {
	margin-bottom: 3em;
}

.panel {
	padding: 12px 30px;
	box-sizing: border-box;
}

.panel.panel-tight {
	padding: 12px 10px;
}

.panel.panel-border {
	border: solid 1px rgb(0, 0, 0);
}

.panel.panel-gray {
	background-color: rgb(250, 250, 250);
}

.panel.panel-yellow {
	background-color: rgb(255, 255, 249);
}

/*
 * countdown
 */
#countdown {
	padding: 20px 0;
}

#countdown #countdown-counter {
	margin-bottom: 30px;
}

.counter > span {
	width: 75px;
	height: 120px;
	margin-right: 5px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	position: relative;
}
.counter > span:after {
	content: '';
	background-repeat: no-repeat;
	background-position: 0 -10px;
	background-image: url("./images/num.png");
	background-size: 825px auto;
	width: 75px;
	height: 120px;
	line-height: 41px;
	text-align: center;
	color: transparent;
	display: inline-block;
	
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.counter > .num-x:after { background-image: none; }
.counter > .num-1:after { background-position: 0 0; }
.counter > .num-2:after { background-position: -75px 0; }
.counter > .num-3:after { background-position: -150px 0; }
.counter > .num-4:after { background-position: -225px 0; }
.counter > .num-5:after { background-position: -300px 0; }
.counter > .num-6:after { background-position: -375px 0; }
.counter > .num-7:after { background-position: -450px 0; }
.counter > .num-8:after { background-position: -530px 0; }
.counter > .num-9:after { background-position: -605px 0; }
.counter > .num-0:after { background-position: -675px 0; }
.counter > .num-d:after { background-position: -750px 0; }


.counter.counter-small > span {
	width: 25px;
	height: 41px;
	margin-right: 5px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	position: relative;
}
.counter.counter-small > span:after {
	content: '';
	background-repeat: no-repeat;
	background-position: 0 -10px;
	background-image: url("./images/num.png");
	background-size: 275px auto;
	width: 25px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: transparent;
	display: inline-block;
	
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.counter.counter-small > .num-x:after { background-image: none; }
.counter.counter-small > .num-1:after { background-position: 0 0; }
.counter.counter-small > .num-2:after { background-position: -25px 0; }
.counter.counter-small > .num-3:after { background-position: -50px 0; }
.counter.counter-small > .num-4:after { background-position: -75px 0; }
.counter.counter-small > .num-5:after { background-position: -100px 0; }
.counter.counter-small > .num-6:after { background-position: -125px 0; }
.counter.counter-small > .num-7:after { background-position: -150px 0; }
.counter.counter-small > .num-8:after { background-position: -175px 0; }
.counter.counter-small > .num-9:after { background-position: -200px 0; }
.counter.counter-small > .num-0:after { background-position: -225px 0; }
.counter.counter-small > .num-d:after { background-position: -250px 0; }


/*
 * index.html
 */
header.top {
	height: auto;
}

header.top .container.wrap {
	display: block;
}

header.top nav {
	width: 100%;
	margin: 0;
	border-top: solid 1px rgb(0, 0, 0);
	
	position: static;
}

header.top nav ul > li {
	width: 20%;
}

header.top nav ul > li a {
	width: 100%;
	line-height: 50px;
}

section#news {
	overflow: hidden;
}
section#news article {
	margin-top: -1px;
	border-top: dotted 1px rgb(200, 200, 200);
	position: relative;
}

section#news article div.postinfo {
	box-sizing: border-box;
	padding: 2px 5px;
	margin-bottom: 1em;
	background-color: rgb(150, 150, 150);
	color: rgb(255, 255, 255);
	font-weight: bold;
	display: table;
}

section#news article a {
	margin-top: 1em;
	padding: 5px 0;
	background-color: rgb(250, 250, 250);
	text-align: center;
	display: block;
	transition: 1s linear;
}

section#news article a:after {
	content: '→';
	display: inline;
}

section#news article a:hover {
	background-color: rgb(230, 230, 230);
}

.menu .nav-button {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 50px;
	border: solid 1px rgb(0, 0, 0);
	box-sizing: border-box;
	display: inline-block;
}

/*
 * article
 */

article div.postinfo {
	color: rgb(80, 80, 80);
	font-weight: normal;
	font-size: small;
}

article div.article-header > div {
	color: rgb(255, 255, 255);
}
article div.article-header > div > * {
	vertical-align: bottom;
}

article div.article-header > div.counter {
	height: 85px;
	overflow: hidden;
	position: relative;
}

article div.article-header > div.counter > div.logo {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 0;
}

/*
 * map.html
 */
header.map {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
}
header.map a.title {
	height: 50px;
}
body.touch a.title h1 span.theme {
	background: none;
}

object#map-body {
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	box-sizing: border-box;
	
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}
object#map-body * {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body.touch #loading {
	width: 100px;
	height: 30px;
	color: rgb(255, 255, 255);
	background-color: rgb(150, 150, 150);
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 100;
	display: none;
}

body.touch div.map-navigation {
	width: 50px;
	padding-bottom: 10px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 11;
	text-align: center;
}

body.touch div.map-navigation > * {
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border: solid 3px rgb(250, 250, 250);
	box-sizing: border-box;
}

body.touch div.map-navigation > div {
	width: 50px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 7px;
	margin-bottom: 20px;
}


body.touch div#map-enable-gps.map-gps-enabled {
	background-color: rgb(80, 158, 230);
	color: rgb(255, 255, 255);
	font-weight: bold;
}

#map-detail {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	box-sizing: border-box;
	transition: 0.2s linear;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
}

#map-detail.map-detail-default {
	height: 0;
	z-index: -1;
}

#map-detail.map-detail-expand {
	width: 100%;
	height: 100%;
	z-index: 20;
}

.map-detail-wrap {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	height: 100vh;
	padding-bottom: 30px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	overflow: scroll;
	text-align: center;
}

.map-detail-wrap #map-detail-team-description {
	color: rgb(30, 30, 30);
	margin-bottom: 15px;
}

#map-detail-team-description > p {
	width: 90%;
	margin: 0 auto;
}

#map-detail-team-description > img {
	width: auto;
	max-height: 500px;
	max-height: 70vh;
	margin: 0 auto 5px auto;
	border: solid 3px rgb(255, 255, 255);
	border-radius: 3px;
	display: block;
}


.map-detail-wrap #map-detail-close {
	width: 70%;
	margin: 0 auto 120px auto;
	padding: 10px 0;
	border: 1px solid rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.8);
}


/*
 * event.html
 */

.container.container-full.timetable-event {
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	position: relative;
}

.timetable-event:after {
	content: "";
	width: 100%;
	clear: both;
	display: block;
}

.timetable-event p {
	margin: 0;
}

.timetable-event p.header {
	height: 75px;
	line-height: 70px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: center;
	background-color: transparent;
	border-bottom: solid 1px #000; 
}

.timetable-event p.header * {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}

.timetable-event p.header small {
	color: rgb(150, 150, 150);
}

.timetable-event > div {
	height: 100%;
	box-sizing: border-box;
	padding: 0 5px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.timetable-event > div.hours {
	width: 1330px;
	padding-top: 91px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.timetable-event > div.event-schedule {
	margin-left: 100px;
	width: 225px;
}
.timetable-event > div.event-schedule > div.time > p {
	width: 55px;
}
.timetable-event > div.event-schedule > div.time > h4 {
	width: calc(100% - 55px);
	font-weight: normal;
	color: rgb(80, 80, 80);
}
.timetable-event > div.event-schedule > div.time a {
	color: rgb(70, 70, 70);
}
.timetable-event > div.event-stage {
	width: 240px;
}

.timetable-event > div.second-gym {
	width: 195px;
}

.timetable-event > div.event-exhibition {
	width: 80px;
}

.timetable-event > div.event-exhibition.class {
	width: 100px;
}

.timetable-event > div.hours > div {
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	border-top: 1px dotted rgba(0, 0, 0, 0.7);
	background-color: rgb(250, 250, 250);
}

.timetable-event > div.hours > div:first-child {
	border: none;
}

.timetable-event > div.hours > div:nth-child(even) {
	background-color: rgb(240, 240, 240);
}

.timetable-event > div.hours > div > p {
	width: 100px;
	color: rgba(0, 0, 0, 0.4);
	font-weight: bold;
	box-sizing: border-box;
}

.timetable-event > div > div.time {
	color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);;
	border: 2px solid rgba(0, 0, 0, 0.3);;
	box-sizing: border-box;
	overflow: hidden;
}

.timetable-event > div > div.time a {
	color: rgb(255, 255, 255);
}

.timetable-event > div > div.time:after {
	content: '';
	clear: both;
	display: block;
}

.timetable-event > div.event-stage > div.time {
	background-color: rgba(7, 123, 243, 0.9);
}

.timetable-event > div.second-gym > div.time {
	background-color: rgba(79, 225, 0, 0.9);
}

.timetable-event > div > div.time.blank{
	border: none;
	background: none;
	opacity: 0;
}
.timetable-event > div > div.time.long-10m  { height: calc(110px / 6 * 1); }
.timetable-event > div > div.time.long-15m  { height: calc(110px / 6 * 1.5); }
.timetable-event > div > div.time.long-20m  { height: calc(110px / 6 * 2); }
.timetable-event > div > div.time.long-30m  { height: calc(110px / 6 * 3); }
.timetable-event > div > div.time.long-40m  { height: calc(110px / 6 * 4); }
.timetable-event > div > div.time.long-50m  { height: calc(110px / 6 * 5); }
.timetable-event > div > div.time.long-60m  { height: calc(110px / 6 * 6); }
.timetable-event > div > div.time.long-75m  { height: calc(110px / 6 * 7.5); }
.timetable-event > div > div.time.long-90m  { height: calc(110px / 6 * 9); }
.timetable-event > div > div.time.long-120m { height: calc(110px / 6 * 12); }
.timetable-event > div > div.time.long-150m { height: calc(110px / 6 * 15); }
.timetable-event > div > div.time.long-180m { height: calc(110px / 6 * 18); }
.timetable-event > div > div.time.long-210m { height: calc(110px / 6 * 21); }
.timetable-event > div > div.time.long-215m { height: calc(110px / 6 * 21.5); }
.timetable-event > div > div.time.long-270m { height: calc(110px / 6 * 27); }
.timetable-event > div > div.time.long-315m { height: calc(110px / 6 * 31.5); }
.timetable-event > div > div.time.long-420m { height: calc(110px / 6 * 42); }


.timetable-event > div > div.time > * {
	height: 100%;
	box-sizing: border-box;
}

.timetable-event > div > div.time > p {
	background-color: rgba(0, 0, 0, 0.4);
	width: 75px;
	margin: 0;
	padding: 0 5px 0 0;
	text-align: right;
	float: left;
}

.timetable-event > div.event-exhibition > div.time > p {
	width: 100%;
	text-align: center;
}

.timetable-event > div > div.time > h4 {
	width: calc(100% - 75px);
	margin: 0;
	padding: 2px 0 0 5px;
	line-height: 1.6em;
	float: right;
}

/*
 * access.html
 */
.timetable-bus {
	font-family: "OpenSans", OpenSans, "Arial", Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
	box-sizing: border-box;
	width: 100%;
	border-collapse: collapse;
}

.timetable-bus caption {
	font-size: 1.2em;
	font-weight: bold;
}

.timetable-bus tr {
	width: 100%;
	min-height: 91px;
	margin-top: -1px;
}

.timetable-bus tr:nth-child(odd) {
	background-color: rgb(250, 250, 250);
}

.timetable-bus th,
.timetable-bus td {
	min-height: 63px;
	padding: 5px;
	font-size: 1.2em;
	text-align: center;
	line-height: 1em;
}

.timetable-bus th.hour {
	background-color: rgb(230, 230, 230);
	width: 50px;
}

.timetable-bus tr:nth-child(odd) th.hour {
	background-color: rgb(225, 225, 225);
}

.timetable-bus td {
	height: 91px;
}

.timetable-bus span {
	width: 50px;
	height: 27px;
	padding:  3px 5px;
	font-style: italic;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

.timetable-bus.free,
.timetable-bus .free span {
	font-style: normal;
	font-weight: bold;
	color: rgb(7, 123, 243);
}

.timetable-bus.free.univ,
.timetable-bus .free.univ span {
	color: rgb(79, 225, 0);
}

.timetable-bus td > small {
	width: 100%;
	height: 43px;
	font-weight: normal;
	font-size: 0.7em;
	padding-top: 5px;
	color: rgb(70, 70, 70);
	display: block;
}

.bazaar-chooser fieldset > h4 {
	margin: 0;
	width: 60px;
	margin-right: 10px;
	text-align: right;
	display: inline-block;
}

.bazaar {
	font-size: 0;
}

.bazaar > div {
	width: calc(((100% - 30px) * 1/3));
	margin: 5px;
	padding: 5px 10px;
	min-height: 100px;
	border: solid 1px rgb(0, 0, 0);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	
	transition: 0.2s linear;
}

.bazaar > div.full {
	width: calc(100% - 10px);
}

.bazaar > div > * {
	font-size: 16px;
	margin: 0 0 10px 0;
}

.bazaar > div div.img-spacer {
	display: none;
}
.bazaar > div img {
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
	margin: -5px -10px 5px -10px;
}

.bazaar > div h4 {
	text-align: left;
}

.bazaar > div section {
	padding: 10px;
	margin: 0 -10px -5px -10px;
}

.bazaar > div section > p {
	margin: 0;
	font-size: 0.8em;
}

@media screen and (max-width: 600px){
	.container {
		width: 96%;
	}
	.container .container-left,
	.container .container-right,
	.container .container-split.twice .container-left,
	.container .container-split.twice .container-right {
		width: 100%;
		border: none;
		padding: 0 0 0 0;
		float: none;
	}
	body,
	header,
	footer,
	.pane {
		min-width: 0;
		width: 100%;
		width: 100vw;
	}
	header .container.wrap {
		position: static;
	}
	header a.title h1 span.theme:before {
		display: none;
	}
	header nav {
		margin: 0;
		width: 100%;
	}
	header nav ul {
		height: 150px;
	}
	header.top nav ul > li,
	header nav ul > li {
		width: 50%;
	}
	footer {
		height: 590px !important;
	}
	footer .container.wrap {
		padding: 0;
		background-position: center 300px;
	}
	footer .container.wrap img {
		width: 100%;
	}
	footer .container.wrap ul {
		padding: 0;
	}
	.logo {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-size: 100%;
	}
	.logo.dynamic:after {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-size: 100%;
	}
	
	article div.article-header > div.counter > div.logo {
		padding-bottom: 0;
		opacity: 0.2;
	}
	#countdown #countdown-counter {
		margin-bottom: 0;
	}
	#countdown .container.container-full.logo {
		display: none;
	}
	.timetable-bus {
		margin-bottom: 3em;
	}
	.container.container-full.timetable-event {
		width: 104%;
		margin: 0 -2%;
	}
	.timetable-event > div.hours > div > p {
		width: 55px;
	}
	.timetable-event > div.event-schedule {
		margin-left: 60px;
	}
	.timetable-event > div.event-stage {
		width: 200px;
	}
	.timetable-event > div.second-gym {
		width: 200px;
	}
	.bazaar-chooser fieldset > h4 {
		width: 100%;
		text-align: left;
		display: block;
	}
	.bazaar-chooser fieldset > label {
		width: 45%;
		display: inline-block;
	}
	.bazaar > div {
		width: calc(100% - 10px);
	}
	.bazaar > div:after {
		content: '';
		display: block;
		clear: both;
	}
	.bazaar > div div.img-spacer {
		width: 50%;
		height: 100px;
		margin: -5px 5px -5px -10px;
		display: block;
		float: left;
	}
	.bazaar > div img {
		width: 50%;
		margin: -5px 5px -5px -10px;
		display: block;
		float: left;
	}
	.bazaar > div > h4 {
		letter-spacing: -0.01em;
	}
	.bazaar > div > h4,
	.bazaar > div > p,
	.bazaar > div > section {
		margin: 0 5px 0 0;
		padding: 0;
		width: calc(50% - 5px);
		vertical-align: top;
		display: block;
		float: right;
	}
	
	object#map-body,
	.map-detail-wrap {
		height: calc(100% - 70px);
	}
}

@media (min-width: 600px) {
	br.sp {
		display: none;
	}
}
@media (min-width: 1390px) {
	.container.container-full.timetable-event {
		overflow: hidden;
		width: 100%;
		width: calc(100vw - 50px);
		min-width: 1330px;
		padding: 0 calc((100vw - 1330px) / 2);
		position: relative;
		margin: 0 calc((960px - 100vw) / 2);
	}
	.timetable-event > div.hours {
		margin-left: calc((100vw - 1330px) / 2);
	}
}
