<img id="map-detail-team-poster" src="images/poster/badominton.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P35
	</div>
</div>
