<h2>美術部</h2>
<img id="map-detail-team-poster" src="images/poster/bijutsu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P36
	</div>
</div>
<p>
フェイクスイーツの作品販売・作成
</p>
<h2>販売</h2>
<p>
1日目 12:00 - 15:00<br />
</p>
