<h2>CA2</h2>
<img id="map-detail-team-poster" src="images/poster/ca2.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P22
	</div>
</div>
<h2>あらすじ</h2>
<p>
よくある寺の和尚4人。いつものように修行をしているとき、女の子たちからいじめがあったと報告が。<br />
向かうとそこには謎の四人組。和尚たちがおもしろおかしく立ち向かう物語... 他3本
</p>
<h2>上映スケジュール</h2>
<h3>1日目</h3>
<p>10:30 - 10:55</p>
<p>11:30 - 11:55</p>
<p>13:00 - 13:25</p>
<p>14:00 - 14:25</p>
<p>15:30 - 15:55</p>
<p>16:30 - 16:55</p>
<h3>2日目</h3>
<p>10:30 - 10:55</p>
<p>11:30 - 11:55</p>
<p>13:00 - 13:25</p>
<p>14:00 - 14:25</p>
