<h2>CA4</h2>
<img id="map-detail-team-poster" src="images/poster/ca4.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P25
	</div>
</div>
