<h2>男子バスケットボール部</h2>
<img id="map-detail-team-poster" src="images/poster/danbasu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P33
	</div>
</div>
