<h2>伝統文化に親しむ同好会</h2>
<img id="map-detail-team-poster" src="images/poster/dentoubunka.jpg"" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P34
	</div>
</div>
<p>同好会員が日頃の鍛錬で培った技術と知識をいかした作品(生け花など)の展示。</p>
