<h2>園芸同好会</h2>
<img id="map-detail-team-poster" src="images/poster/engei.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P27
	</div>
</div>
