<img id="map-detail-team-poster" src="images/poster/gakuseikai.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P33
	</div>
</div>
<h3>販売</h3>
<div>2日目 13:50から</div>
