<h2>ハンドボール部</h2>
<img id="map-detail-team-poster" src="images/poster/handball.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P35
	</div>
</div>
