<h2>1年生合同</h2>
<img id="map-detail-team-poster" src="images/poster/ichinen.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P20
	</div>
</div>
