<h2>IE学科企画</h2>
<img id="map-detail-team-poster" src="images/poster/ie.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P26
	</div>
</div>
<h2>展示タイムスケジュール</h2>
<h3>10:30 - 10:45</h3>
<p>もしデバ もしも運動部のマネージャーが電子デバイスを手にしたら</p>
<h3>11:00 - 11:15</h3>
<p>先生どーこだっ☆</p>
<h3>11:30 - 11:45</h3>
<p>これが紙 is Overだ！！</p>
<h3>12:00 - 12:15</h3>
<p>美書っぷ ―あなたを美文字へ導く―</p>
<h3>12:30 - 12:45</h3>
<p>1人でおうちでFashon show!!!</p>
<h3>13:00 - 13:15</h3>
<p>Virtual Closet 〜直管形お着替えシュミレータ！〜</p>
<h3>13:30 - 13:48</h3>
<p>目指せ！お掃除マスター！</p>
<p>※ 2日目は1日目の逆順</p>
