<h2>IE3</h2>
<img id="map-detail-team-poster" src="images/poster/ie3.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P23
	</div>
</div>
