<h2>IE4</h2>
<img id="map-detail-team-poster" src="images/poster/ie4.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P24
	</div>
</div>
