<h2>剣道部</h2>
<img id="map-detail-team-poster" src="images/poster/kendou.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P28
	</div>
</div>
