<h2>硬式テニス部</h2>
<img id="map-detail-team-poster" src="images/poster/koushikitenisu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P28
	</div>
</div>
