<h2>教室・管理棟</h2>
<p>各内容の詳細は地図を拡大してからタップしてください</p>
<h3>3階</h3>
<p>演習室 CA3 映画</p>
<h3>2階</h3>
<p>1年生合同 お化け屋敷</p>
<h3>1階</h3>
<p>情報処理センター ニューメディア部 作品展示</p>
<p>ICT教室 IE学科企画</p>
<p>小会議室 茶道部 お茶会</p>
<p>談話室 写真部 展示</p>
<p>談話室 伝統文化に親しむ同好会 展示</p>
<p>談話室 美術部 ワークショップ</p>
