<h2>メイン企画 Re:ink</h2>
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P11
	</div>
</div>
<h2>ストーリー</h2>
<p>
森の奥深く 普段は誰も踏み入れることのない場所にひっそりと佇む、とある工場。<br />
むかしむかしの話、ここでは毎日、人々のエネルギー、例えば、活力、元気などをたくさん作っていたという。<br />
<br />
工場がとまっている今、新たにエネルギーを入手できない。<br />
そして、そのエネルギーはそろそろ底を尽きそうだという。人々は焦っていた。<br />
<br />
・・・ある日、とある不思議な花が見つかった。研究者の報告書によると、なんでも、その花は工場を動かしていた正体だったらしいのだ！<br />
<br />
人々は工場を再び動かそうと、その花を集めだしたが、、人手が足りないという。<br />
一緒に花を集めてくれないか？ 工場を復活させよう！
</p>
<br />
<a href="./main.html" target="_blank">メイン企画詳細</a>
