<h2>ME2</h2>
<img id="map-detail-team-poster" src="images/poster/me2.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P21
	</div>
</div>
