<h2>ME3</h2>
<img id="map-detail-team-poster" src="images/poster/me3.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P22
	</div>
</div>
