<h2>ME4</h2>
<img id="map-detail-team-poster" src="images/poster/me4.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P24
	</div>
</div>
