<h2>メカトロシステム部</h2>
<img id="map-detail-team-poster" src="images/poster/mekatoro.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P37
	</div>
</div>
