<h2>ニューメディア部</h2>
<img id="map-detail-team-poster" src="images/poster/nmc.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P34
	</div>
</div>
<p>部員が制作したゲーム・CG作品を展示しています</p>
