<h2>陸上競技部</h2>
<img id="map-detail-team-poster" src="images/poster/rikujo.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P38
	</div>
</div>
<h2>メニュー</h2>
<p>
肉・わかめ・きつね<br />
プラス、先着限定でスペシャル(3種のせ)を売っています。<br />
今年は去年までとは違い、肉うどんの肉を1.5倍に増量しています。
</p>
