<h2>留学生</h2>
<img id="map-detail-team-poster" src="images/poster/ryuugakusei.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P38
	</div>
</div>
