<h2>専門科目棟</h2>
<h3>3階</h3>
<p>設計製作室 CA 学科企画</p>
<h3>1階</h3>
<p>創造演習スペース <a href="./main.html" target="_blank">メイン企画 Re:ink</a></p>
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P11
	</div>
</div>
