<h2>写真部</h2>
<img id="map-detail-team-poster" src="images/poster/shashin.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P30
	</div>
</div>
