<h2>周南ロボコン</h2>
<img src="images/shunan-robocon.png" />
<br />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P11
	</div>
</div>
<br />
<a href="./shunan-robocon.html" target="_blank">周南ロボコン詳細</a>
