<h2>ソフトテニス部</h2>
<img id="map-detail-team-poster" src="images/poster/sohutotenisu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P32
	</div>
</div>
