<h2>Swing Sounds Club</h2>
<img id="map-detail-team-poster" src="images/poster/ssc.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P31
	</div>
</div>
