<h2>ステージイベント</h2>

<div class="container">
	<div class="container-split twice">
		<div class="container-left">
			<h3>1日目</h3>
			<div class="guidebook">
				<div class="guidebook guidebook-header">パンフレット</div>
				<div class="guidebook guidebook-page">
				P12
				</div>
			</div>
			<p style="width: 250px; text-align: left; margin: 10px auto;">09:30 : オープニング</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">10:10 : クラスバザー紹介</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">10:50 : カラオケ大会</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">11:50 : 部活バザー紹介</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">12:30 : 筋肉自慢</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">13:10 : ラブゲーム</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">13:50 : ラブファイブ</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">14:30 : Mr. &amp; Ms.</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">16:10 : ○×ゲーム</p>
			</div>
		<div class="container-right">
			<h3>2日目</h3>
			<div class="guidebook">
				<div class="guidebook guidebook-header">パンフレット</div>
				<div class="guidebook guidebook-page">
				P16
				</div>
			</div>
			<p style="width: 250px; text-align: left; margin: 10px auto;">09:30 : オープニング</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">10:10 : LIVE告知</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">11:00 : 大喜利</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">11:40 : 抽選会</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">13:25 : LIVE
			<div class="guidebook">
				<div class="guidebook guidebook-header">パンフレット</div>
				<div class="guidebook guidebook-page">
				P18
				</div>
			</div>
			</p>
			<p style="width: 250px; text-align: left; margin: 10px auto;">17:30 : Fashion Show</p>
		</div>
	</div>
</div>
