<h2>水泳部</h2>
<img id="map-detail-team-poster" src="images/poster/suiei.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P30
	</div>
</div>
