<h2>吹奏楽部</h2>
<img id="map-detail-team-poster" src="images/poster/suisougaku.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P31
	</div>
</div>
