<h2>卓球部</h2>
<img id="map-detail-team-poster" src="images/poster/takkyu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P32
	</div>
</div>
<p>
良質の油で、時間をかけてじっくり揚げて、外はサクサク中はトロトロのおいしいあげたこを作ります！
</p>
<h2>販売</h2>
<p>
1日目 10:10 - 17:00<br />
2日目 10:00 - 14:30
</p>
