<h2>バレーボール部</h2>
<img id="map-detail-team-poster" src="images/poster/valley.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P36
	</div>
</div>
