<h2>硬式野球部</h2>
<img id="map-detail-team-poster" src="images/poster/yakyuu.jpg" />
<div class="guidebook">
	<div class="guidebook guidebook-header">パンフレット</div>
	<div class="guidebook guidebook-page">
	P29
	</div>
</div>
